<a href="https://colab.research.google.com/github/20A31A0584/Pragati-Engineering-College/blob/main/DAY_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

print prime numbersfrom 1 to n

In [38]:
n=int(input())
for i in range(2,n+1):
  c=0
  for j in range(2,i):
     if i%j==0:
       c=1
       break
  if c==0:
        print(i, end=" ")

15
2 3 5 7 11 13

In [5]:
6>>+2

1

SWAP CASES

In [10]:
a=10
b=20
a=a*b
b=a//b
a=a//b
print(a,b)

20 10

In [17]:
a=10
b=20
a=a^b#30
b=b^a#10
a=a^b#20
print(a)
print(b)

20
10

LISTS

1.   unidata type list
2.   multi data type list

In [22]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num[2:5:2])
print(num[1::3])
del num[2:5]
print(num)

[3, 5]
[2, 5, 8]
[1, 2, 6, 7, 8, 9, 10]

In [33]:
len([1,2,3])
l=[1,2,3]
sum1=sum(l)
print(sum1)
print(sum(l))

6
6

In [5]:
num=input()
print(int(num,17))

1A
27

list functions:

len,insert,append,extend,sort,reverse,count,index,copy,clear,remove,del,pop,sum,max,min

In [34]:
num=[1,2,7,5,3]
print(sorted(num))#sort
print(sum(num))#sum
num.append(8)#append
print(num)
num.insert(0,10)#insert
print(num)
del num[0]#del
print(num)
print(num.count(7))#count
print(len(num))#len
num.reverse()#reverse
print(num)
num.pop(0)##Removes the element at the specified position
print(num)
num.remove(2)#Removes the first item with the specified value
print(num)
x=num.index(7)#index
print(x)
num2=num.copy()#copy
print(num2)
num2.clear()##clear
print(num2)
num3=[10,20,30]
num.extend(num3)
print(num)

[1, 2, 3, 5, 7]
18
[1, 2, 7, 5, 3, 8]
[10, 1, 2, 7, 5, 3, 8]
[1, 2, 7, 5, 3, 8]
1
6
[8, 3, 5, 7, 2, 1]
[3, 5, 7, 2, 1]
[3, 5, 7, 1]
2
[3, 5, 7, 1]
[]
[3, 5, 7, 1, 10, 20, 30]

armstrong number

In [40]:
n=int(input())
temp=n
sum=0
while n:
   r=n%10
   n=n//10
   sum=sum+pow(r,3)
if temp==sum:
  print("yes")
else:
  print("no")

153
yes

armstrong number power 4?

In [52]:
n=int(input())##8208,1634
temp,temp1=n,n
sum,c=0,0
while n:
   c+=1 
   r=n%10
   n=n//10
while temp:
   rem=temp%10
   temp=temp//10
   sum=sum+pow(rem,c)
if temp1==sum:
  print("yes")
else:
  print("no")

8208
8208
yes

write a python program to make a list of cubes till the value n=10?

In [53]:
l=[]
for i in range(11):
  l.append(i**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

write a python to find an absolute value for the difference in between even and odd digits of a given number?

In [3]:
n=int(input())
l1=[]
l2=[]
while n:
  r=n%10
  n=n//10
  if r%2==0:
    l1.append(r)
  else:
    l2.append(r)
l1_sum=sum(l1)
l2_sum=sum(l2)
print(abs(l1_sum-l2_sum))

123456789
5

In [6]:
cubes=[i**3 for i in range(11)]
print([i**3 for i in range(11)])

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
n=int(input())
if n%2==0:##even
  n=n//2
  print(3**(n-1))
else:##odd
  n=n//2+1
  print(2**(n-1))

13
64

243